<!-- This footer appears at the bottom of every page that you make. You can customize it with your team logo, sponsors, contact information, etc. -->

<!-- Elimino tags footer perque a les pagines ja sortiran -->

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 center">
                    <img class="img-f" src="images/logo_iqs.png">
                </div>
                <div class="col-md-3 center">
                    <img class="img-f" src="images/alumni_logo.png">
                </div>
                <div class="col-md-3 center">
                    <img class="img-f" src="images/biokit.png">
                </div>
                <div class="col-md-3 center">
                    <img class="img-f" src="images/guives_logo-sf.png">
                </div>
            </div>

        </div>
        <p>&copy; BIOIQS IGEM 2018. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>